# editor
__pycache__
.vscode

# notebooks
-ipynb_checkpoints
*-checkpoint.ipynb

# environment stuff
venv
venv_linux
.env

# data to ignore
SECOP_I_Contratos.csv
data/contracts
data/reduced_data.csv
# data/df_files4B_pandas.pickle
data/temporal.csv
assets/styles1.txt
assets/*.pdf

# ignore sample app
controls_original.py
app_original.py
appcon.py
