# editor
__pycache__
.vscode

# notebooks
-ipynb_checkpoints
*-checkpoint.ipynb

# environment stuff
venv
venv_linux
.env

# huge data
SECOP_I_Contratos.csv
data/contracts
.ipynb_checkpoints/Untitled-checkpoint.ipynb
