.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#countGraphContainer {
  flex: 5;
  position: relative;
  /* min-height: 26em; */
}

.iframe-contract {
  width: 50%;
  height: 60em;
}

#header {
  align-items: center;
}

#learn-more-button {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}
#title {
  text-align: center;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#wells {
  flex: 1;
}

#gas {
  flex: 1;
}

#aggregate_data {
  align-items: center;
}

#oil {
  flex: 1;
}

#water {
  flex: 1;
}

#tripleContainer {
  display: flex;
  flex: 3;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
  pointer-events: all;
  transform: translate(30px, 349px);
}


/* INCONSISTENCIAS */

#select-container{
	background-color: #f9f9f9;
	border-top: 2px solid #1975FA;
	width: 50%;
	/*<!--box-shadow: grey 5px 5px 5px ;-->*/
	box-shadow: 5px 5px 5px slategrey;
	border-radius: 5px;
	position: relative;
	margin-bottom: 3%;
	margin-top: 2%;
	margin-left: 5%;
    padding: 1%;
	}

#select-grupo{
	background-color: #f9f9f9;
	border-top: 2px solid #1975FA;
	width: 50%;
	/*<!--box-shadow: grey 5px 5px 5px ;-->*/
	box-shadow: 5px 5px 5px slategrey;
	border-radius: 5px;
	position: relative;
	margin-bottom: 3%;
	margin-top: 2%;
	margin-left: 5%;
    padding: 1%;
	}

#valor-contrato{
	border-top: 2px solid #1975FA;
	background-color: #f9f9f9;
	width: 90%;
	box-shadow: 5px 5px 5px slategrey;
	border-radius: 5px;
	position: relative;
	margin-bottom: 10%;
	margin-left: 10%;
	margin-right: 10%;
  padding: 1%;
	
}
#valor-contrato1{
  border-top: 2px solid #1975FA;
	background-color: #f9f9f9;
	width: 90%;
	box-shadow: 5px 5px 5px slategrey;
	border-radius: 5px;
	position: relative;
	margin-bottom:  20%;
	margin-left:10%;
  padding: 1%;
	
}
#valor-contrato2{
	border-top: 2px solid #1975FA;
	background-color: #f9f9f9;
	width: 90%;
	box-shadow: 5px 5px 5px slategrey;
	border-radius: 5px;
	position: relative;
	margin: 10%;
  padding: 1%;
}
#valor-contrato3{
	border-top: 2px solid #1975FA;
	background-color: #f9f9f9;
	width: 90%;
	box-shadow: 5px 5px 5px slategrey;
	border-radius: 5px;
	position: relative;
	margin: 10%;
  padding: 1%;
}

.enMoney::before {
	content:"$";}

#total-valor-contrato-text3{
	text-align: center;
	font: bold 60px "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#total-valor-contrato-text{
	text-align: center;
	font: bold 60px "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#total-valor-contrato-text2{
	text-align: center;
	font: bold 60px "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#ooc_graph_id{
	padding-bottom:5%;
	padding-left: 30%;
	padding-top:  5%;
	transform: scale(1.5,1.8);
  padding-right: 5%;
}

.valor-text{
	text-align: center;
	font: bold 60px "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
